#beer-modal {
  .whitebox {
    left: calc((100% - 640px) / 2);
    top: 1%;
    padding: 20px;
    width: 600px;
    height: calc(98% - 40px);
    border-radius: 3px;
    
    .top-level {
      display: block;
      text-align: right;

      button {
        display: inline-block;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 15px;
        color: gray;
        outline: none;
      }
    }

    .second-level {
      margin-top: 20px;
      min-height: 58%;

      &:after {
        @include clearfix();
      }

      .image {
        display: block;
        float: left;
        width: 25%;
        overflow: hidden;

        img {
          display: block;
          width: 70%;
          margin: 0 auto;
        }
      }

      .details {
        display: block;
        float: right;
        width: 74%;
        overflow: hidden;

        h5 {
          display: block;
          font-size: 22px;
          color: $brand-color;
          font-weight: 600;
        }

        h6 {
          display: block;
          font-size: 15px;
          color: lightgray;
          font-weight: 100;
          margin: 8px 0 0;
        }

        .line {
          display: block;
          background: #b33e9a;
          height: 4px;
          width: 75px;
          margin: 20px 0;
        }

        .stats {
          color: gray;
          font-size: 14px;

          .key {
            display: inline-block;
            margin-right: 5px;
            font-weight: bold;
            
          }
    
          .value {
            display: inline-block;
            margin-right: 15px;
            font-weight: 100;
          }
        }

        p {
          display: block;
          margin-top: 20px;
          font-size: 14px;
          line-height: 150%;
          color: gray;
          font-weight: 100;
        }
        
        .best-served {
          display: block;
          margin: 20px 0 0;

          div {
            font-size: 16px;
            font-weight: bold;
          }

          ul {
            margin-top: 2px;
            font-size: 15px;
            font-weight: 100;
            li {
              margin-top: 4px;
            }
          }
        }
      }
    }

    .base {
      display: block;
      margin: 30px 0 0;
      
      &:after {
        @include clearfix();
      }

      h5 {
        display: block;
        font-size: 18px;
        color: $brand-color;
        font-weight: 600;
        padding-left: 10px;
        margin-bottom: 8px;
      }
    }
  }
}
