.beer-card {
  position: relative;
  display: block;
  width: 220px;
  height: 250px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 4px 2px lightgray;
  border-radius: 2px;
  overflow: hidden;

  span {
    display: inline-block;
    position: absolute;
    right: 10px; top: 10px;
    font-size: 13px;
  }

  img {
    display: block;
    margin: 15px auto 5px;
    height: 110px;
  }

  h5 {
    display: block;
    text-align: center;
    width: 90%;
    line-height: 180%;
    font-weight: 600;
    color: $brand-color;
    margin: 0 auto;
    font-size: 14px;
  }

  h6 {
    display: block;
    text-align: center;
    width: 90%;
    font-weight: 100;
    line-height: 180%;
    color: #d4d4d4;
    margin: 0 auto;
    font-size: 12px;
  }
}