// variables declarations
$brand-color: #f79400;

// mixin declarations
@mixin clearfix {
  display: block;
  content: '';
  clear: both;
}

// general styles declarations

:not(ul):not(li) {
  margin: 0;
  padding: 0;
}

html, body, #app-container {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-weight: 100;
  font-family: sans-serif, Arial;
  background: #f8f8f8;
  min-width: 650px;
}

.status-wrap {
  display: block;
  width: 100%;
  margin: 60px auto 0;
  text-align: center;

  .status {
    display: inline-block;
    margin: 0 auto;

    img, i {
      display: block;
      margin: 0 auto 10px;
    }

    img { height: 30px; }
    i {
      font-size: 35px;
      &.error {
        color: red;
      }
    }

    span {
      display: block;
      font-size: 14px;
      font-weight: 100;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.fas.fa-star {
  color: $brand-color;
}

.far.fa-star {
  color: gray;
}

#min-width {
  
}
