#search {
  $height: calc(100% - 30px);
  display: block;
  height: $height;
  min-height: $height;
  max-height: $height;
  overflow: hidden;

  &:after {
    @include clearfix();
  }

  #fields {
    display: block;
    float: left;
    width: 250px;
    padding: 1.5% 25px;
    height: 100%;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 4px 1px lightgray;

    .label {
      display: block;
      font-size: 13px;
      margin: 30px auto 10px;
      font-weight: 400;

      &:first-child {
        margin-top: 32px;
      }
    }

    .field-group, .date-group  {
      &:after {
        @include clearfix;
      }
      
      select, input {
        display: block;
        float: left;
        width: 50px;
        border: 1px solid lightgray;
        padding: 6px 8px;
        text-align: center;
        font-size: 13px;
        font-weight: 100;
        border-radius: 3px;
        outline: none;
      }
      
      select {
        width: 68px;
        height: 32px;
        cursor: pointer;
      }

      span {
        display: block;
        float: left;
        margin: 6px 10px; 
      }
    }

    #search-field {
      display: block;
      width: 96%;
      border: 1px solid lightgray;
      padding: 5px 2%;
      font-size: 15px;
      font-weight: 100;
      border-radius: 3px;
      outline: none;
    }
  }

  #search-right {
    display: block;
    float: left;
    width: calc(100% - 300px);
    margin: 3% auto 0;
    text-align: center;
    height: calc(95% - 30px);
    overflow: hidden;

    #content {
      display: inline-block;
      height: calc(100% - 5px);
      padding: 5px 10px 0;
      overflow-x: hidden;
      overflow-y: auto;

      .beer-list {
        margin: 0 auto;

        .beer-aligner {
          @media all and (max-width: 1020px) {
            width: calc(233px * 2)
          }

          @media all and (max-width: 786px) {
            width: 233px;
          }
        }
      }

      .status-wrap {
        margin-top: 30%;
      }
    }
  }
}
