#header {
  display: block;
  width: 100%;
  background: $brand-color;
  overflow: hidden;
  padding: 0 0 30px;

  h5 {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
  }

  h6 {
    text-align: center;
    font-weight: 100;
    font-size: 10px;
    margin: 5px auto 15px;
    color: white;
  }

  input {
    display: block;
    max-width: 380px;
    width: 50%;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    outline: none;
    margin: 0 auto;

    @media all and (max-width: 735px) {
      width: 85%;
    }
  }
}
