$z-index: 2000;

.modal {
  position: fixed;
  z-index: $z-index;

  .overlay {
    display: block;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: $z-index;
  }

  .whitebox {
    display: block;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: $z-index + 1;
    overflow-x: hidden;
    overflow-y: auto;
  }  
}

#min-width-modal {
  display: none;

  .whitebox {
    $dim: 95%;
    $space: 2.5%;

    left: $space;
    top: $space;
    width: $dim;
    height: $dim;
    border-radius: 2px;

    p {
      display: block;
      margin: 20% auto 0;
      width: 88%;
      text-align: center;
      font-weight: 300;
      color: $brand-color;
      font-size: 20px;
      line-height: 180%;
    }
  }
}

@media all and (max-width: 654px) {
  #beer-modal { display: none!important; }

  #min-width-modal {
    display: block;
  }
}